.hiddenAnim {
  opacity: 0;
  filter: blur(2px);
  transition: opacity 400ms ease-out, filter 400ms;
}

.showAnim {
  filter: blur(0);
  opacity: 1;
}

/* menu links */
.menu-links {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-links > * {
  transition: all 500ms;
}

.menu-links > *:hover {
  text-decoration: underline;
  opacity: 0.5;
}
