.hiddenAnim {
  opacity: 0;
  filter: blur(2px);
  transition: opacity 400ms ease-out, filter 400ms;
}

.showAnim {
  filter: blur(0);
  opacity: 1;
}

.menu-links > * {
  transition: all 500ms;
}

.menu-links > *:hover {
  text-decoration: underline;
  opacity: 0.5;
}

.page-preview-hover img {
  transition: all 500ms;
}

.page-preview-hover:hover img {
  transform: scale(101%);
  filter: sepia(0.4);
}

.hover-interactive {
  transition: all 500ms;
}

.hover-interactive:hover {
  opacity: 0.8;
  transform: scale(1.02);
}
