/* @media (max-width: 639px) {
  .galleryPadding {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .galleryPadding {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

@media (min-width: 1024px) {
  .galleryPadding {
    padding-left: 10%;
    padding-right: 10%;
  }
} */
